<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAft61-R6lwn5dFLFPv3-qxMrjv0ur8RO8</string>
	<key>GCM_SENDER_ID</key>
	<string>39676235675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthLearning</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-auth-b41b5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-auth-b41b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39676235675:ios:d38a591f552f6c08bedb3e</string>
</dict>
</plist>